.card{
    display:inline-block;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5%;
    margin-left: 0.6%;
    margin-right: 0.4%;
    margin-top: 1.7%;
    background-color: rgba(230, 234, 37, 0.52);
    border-radius: 11px;
    box-shadow: 0px 0px 30px 2px #000;
    font-style: italic;
    color: antiquewhite;
    padding: 10px;
    width: 410px;
    height: 420px;
}
.card h2{
    margin-top:6px ;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: all 0.5s;
}
.cd{
    padding: 5px;
    width: 8cm;
    height: 11cm;
}
.cardimg{
    border-radius: 11px;
}
.types{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0.25cm;
    padding: 1px;
    
}
